body{
  background-color: white;
}
/*=header*/
header {
  overflow: hidden;
  background-color:white;
  height: 80px;
  width:960px;
  padding-bottom: 20px;
  position: fixed;
  margin-bottom: 30px;
  padding-top: 20px;
}
header h1{
  float:left;
  margin-top: 10px;
  margin-left: 30px;
  font-family: sans-serif;
  font-style: oblique;
  background: url(../img/jadhoo.png) no-repeat;
  text-indent: -9999px;
  background-size: 300px 70px;
  height: 70px;
  padding-left: 70px;

}
header li{
  display: inline;
  margin-left: 20px;

}
header nav ul {
  float: left;
}
nav{
  padding:30px;
  width:400px;
margin-left: 100px;
margin-right: 50px;
font-size: 14px;
padding-right: 0;
}

nav a{
  color:blue;
  text-decoration: none;
  font-weight:bold;
}
nav img{
  width:20px;
  height: 20px;
}
nav a:hover img{
  width: 30px;
  height:30px;
}
nav a:hover{
  color: black;
  font-size: 14px;
}


nav .selected{
  color:black;
}

/*=part*/
.main{
   margin-top: 130px;
}
.part img{
  height: 300px;
  width: 300px
}
.part section{
  padding-top: 30px;
  padding-left: 10px;
  margin: 0px;
}
.part a{
  text-decoration: none;
  color: black;
}
.part h4{
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
.hero{
  margin-top: 20px;
  background-color: white;
  margin-bottom: 30px;
}
.hero h2{
  margin-top: 30px;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  font-family: helvetica;
}
.hero p{
  text-align: center;
  font-size: 18px;
  font-family:segou ui;
}
.img_hero{
  background: url(../img/hero.jpg) no-repeat;
  width:950px;
  height:531px;
  margin: 0;
  margin-bottom: 10px;
  background-size: 950px 531px;;
}
.img_hero h1{
  text-align: center;
  color: white;
  font-size: 60px;
  margin-left: 180px;
  margin-top: 380px;
  font-family: Comic Sans MS, cursive, sans-serif;

}
.info{
  margin: 0;
  float: left;
  margin-bottom: 0px;
}
.info h3{
  font-family: helvetica;
  margin-bottom: 0px;
  font-size: 20px;
}
.info p{
  padding: 10px;
  text-align: justify;
  font-family: helvetica;
  font-weight:100;
}
.hero{
  background-color: #ececec;
  margin-right: 0px;
  margin-bottom: 30px;
}
.hero section{
  padding: 0;
  width: 306px;
  text-align: center;
  font-family: sans-serif;
}
.hero h3{
  font-family: Segoe UI;
}
.part1 {
  background-color: white;
  overflow: hidden;
  margin-bottom: 30px;
}
.part1 img{
  float: left;
  margin: 0;
  width:250px;
  height: 400px;
}
.part1 section{
  float: left;
  margin: 0;
  width:600px;
}

.part1 h3{
  text-align: center;
  font-size: 30px;
  margin-top: 30px;
  text-decoration: underline;
  font-family: Open Sans;
  font-weight: 400;
  color:#1C1C1C;
}
.part1 p{
  text-align: justify;
  font-size: 20px;
  padding: 30px;
  padding-bottom: 20px;
  font-family: Open Sans;
  font-weight: 400;
  color:#22313F;
  margin-bottom: 0;
}
.part1 a{
  color: black;
  text-decoration: none;
  margin-left: 30px;
}
/*=footer*/
footer{
  height: 300px;
  border: 1px solid;
  margin-bottom: 20px;
  border-color: #e3e3e3;
  background-color: white;
  margin-top: 50px;
}
footer section{
  background-color: white;
}
footer li{
  list-style: none;
  margin-left:0;
}
footer a{
  text-decoration: none;
  color: grey;
}
footer a:hover{
  color: black;
}
footer section{
  float: left;
  padding: 20px;
  border: 20px;
  margin: 20px;
}

footer .connect li{
  display: inline;
  padding-left: 10px;
}
footer img{
  width: 30px;
  height: 30px;
}

footer a:hover img{
  width: :35px;
  height:35px;
}
/*=women*/
.women_main{
  margin-top: 100px;
}
.women_main section{
  margin-top: 20px;
  margin-left: 0;

}
.women_main h3{
  font-size: 40px;
  text-align: center;
  color: #585858;
  padding-top: 20px;
}
.women_main h4{
  margin-top: 5px;
  text-align: center;
  margin-bottom: 5px;
  font-family: 'Oswald', sans-serif;

}
.women_main p{
   text-align: center;
   font-family: helvetica;
}
.women_main a{
  text-decoration: none;
  color: black;
}
.women_main img{
  width:300px;
  height:300px;
  padding-left: 15px;

}
